<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font_css/iconfont.css">
    <title>产品上传</title>
</head>
<body>
    <h1>产品上传</h1>
    <b>(未上传的数据文件)</b>
    <div>
        <b>产品上传</b>
        <a href="/goods_change/change_data">产品变化</a>
        <a href="/goods_type/goods_type_upload">产品类型上传</a>
        <a href="/goods_type/goods_color_type_upload">产品颜色类型上传</a>
        <a href="/goods/goods_match_color_upload">产品撞色上传</a>
    </div>
    <form method="post" action="">
        <div class="row">
            {% for brand_path in brand_path_list %}
                <div class="col-md-2">
                    <h3><b>{{ brand_path.time }}</b></h3>
                    {% for path in brand_path.brand_paths %}
                        <h4><input type="checkbox" name="brand_path" value="{{ path.brand_path }}"><b>{{ path.brand_name }}</b></h4>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="提交">
    </form>
</body>
</html>